body,p,li,a {
	font-family: georgia, times, serif;
	font-size: 13pt;
}

h1,h2,h3 {
	font-family: 'Yanone Kaffeesatz', arial, serif;
}

body {
	margin: 0;
	padding: 0;
}

.forma {
	background-color: silver;
	margin: 20px;
	padding-bottom: 40px !important;
}

.lista{
	margin: 20px;
}

.admin-header{
	background-color: silver;
	margin: 20px;
	padding: 10px;
}
.admin-header a{
	color: black;
}

.feedbackPanel
{
	background-color: gray;
	color: orange;
	margin: 20px;
}

form div div input {
	left: 200px;
	position: fixed;
}

form div div select {
	left: 200px;
	position: fixed;
}

form div div {
	margin: 5px;
}

